{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Привет, я автор</h1>
<p>
  Привет! Меня зовут Михаэль Руди. С детсва мне нравились компьютеры и всё, что с ними связано.
  Отучился в бакалавриате на прикладного математика. В магистратуре я занимался робототехникой,
  благополочно спалив автономного колесного робота - в последствии, занимался её восстановлением 
  и созданием аналога на ардуино.
</p>
<p>
  После нескольких лет работы не связанной с IT и просмотра <b>Теории большого взрыва😂</b> 
  захотелось сменить вид деятельности и поработать по профессии. Начал искать курсы, 
  выбор пал на Практикум. Хотелось быть поближе к железу, поэтому фронтэнд отпал, 
  в своё время писал на C++, но однажды открыв питон уже не смог вернуться к плюсам. 
  Итак, выбор пал на Джанго.
</p>
<p>
  В будущем хочется поработать с раличными проектами, всякими высоконагруженными 
  приложениями, оптимизациями баз данных, запросов, многоуровневым кэшированием.
  Кажется, до этого пройдёт ещё не один десяток спринтов и для этого пора будет
  освежить свои знания по математике. Да и вообще какое же будущее ждёт нас и IT?
</p>
</div>
{% endblock %} 